:root{
    font-size: 20px;
}
body{
    height:100%;
}
.top-section{
    display:flex;
    justify-content:space-between ;
}
.quiz-intro, .question-box, .result-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:100vh;
}

button {
    background-color: purple;
    color: white;
    padding:15px;
    border-radius:15px;
    border: 10px;
    margin:5px;
}
#question-view, .result-view, .result-page, .question-box {
    font-weight: bold;
    text-align: center;
}

li {
    background-color: purple;
    text-align: left;
}